<select onchange="location = this.value" class="add-to-cart-variant" style="" name="id">
          <option disabled="" selected="" hidden="">Add to cart</option>
          <option value="/cart/add?id=28385871528023">Space Gray / iPhone 8 / 64GB</option>
          <option value="/cart/add?id=28385871560791">Silver / iPhone 8 / 64GB</option>
          <option value="/cart/add?id=28385871233111">Gold / iPhone 8 / 64GB</option>
          <option value="/cart/add?id=30883795271767">Gold / iPhone 8 / 256GB</option>
          <option value="/cart/add?id=28385871298647">Space Gray / iPhone 8 / 256GB</option>
          <option value="/cart/add?id=28385871364183">Space Gray / iPhone 8 Plus / 64GB</option>
          <option value="/cart/add?id=28385871396951">Space Gray / iPhone 8 Plus / 256GB</option>
          <option value="/cart/add?id=28385871462487">Silver / iPhone 8 Plus / 64GB</option>
</select>
